@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url(https://fonts.gstatic.com/s/overpassmono/v3/MarHoIqW2hy_po97b_wS9hEOS6Aq7hJAAidQNR3rgdU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Space Mono'), local('SpaceMono-Regular'), url(https://fonts.gstatic.com/s/spacemono/v2/adVweg3BJhE6r8jYmXseHfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
  }

html{
    font-size: 18px;
    font-family: Helvetica, sans-serif;

}
body{
    line-height: 1.4;
    background-color: burlywood;
}
.container{
    width: 80%;
    margin: auto;
}
.addcourse{
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}
header div{
    background-image: url("../pics/Extinguisher slide .jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 15rem;
    position: fixed;
}
.sub-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    color: darkslategray;
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
    background-color: white;
    padding-top: 15rem;
    padding-left: 15rem;
}
.sub-heading ul{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    text-decoration: none;
}
.sub-heading li{
    padding-right: 2rem;
}
.training-modules{
    display: flex; 
    align-items: center;
    background-color: blanchedalmond;
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 20px;
}
.training-modules:hover{
    background-color: orangered;
}
.trainmod-img{
    float: left;
    margin-right: 1rem;
    margin-left: 3rem;
    width: 12rem;
    height: 8rem;
    padding: .5rem .5rem;
    background-color: rgb(235, 238, 229);
}
.training-modules div{
    flex-direction: column;
    text-align: left;
}
.dimmerSwitch{
    display: none;
}
.dimmer{
    background-color: hsl(60, 22, 79);
    display: flex; 
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    border: 2px solid red;
    border-radius: 20px;
    padding-left: 3rem;
}
table{
    text-align: left;
}
.nar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}
.firstpar{
    margin-right: 1rem;
    width: 21rem;
}
.tinp{
    font-family: Overpass Mono;
}
.secondpar{
    width: 18rem;
    margin-left: 0rem;
}
.thirdpar{
    width: 16rem;
}
.selectCourses{
    width: 15rem;
}
.selectCourses p{
    font-size: .75rem;
    color: green;
}
.price{
    font-size: 1.5rem;
    font-style: italic;
    color: lightslategrey;
    width: 13rem;  
    padding-right: 1rem; 
    margin-left: 1rem;
}
.price h5{
    font-size: 1rem;
}
.price h6{
    font-size: .6rem;
}
.phone{
    margin: 2rem 2rem;
    font-size: 2rem;
    text-align: center;
}
#youSave{
    font-size: 1rem;
}
#discount{
    font-size: 1rem;
}
.dim{
    background-color: lightsalmon;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 1330px){
    .sub-heading h2{
        display: none;
    }
}
@media only screen and (max-width: 1100px){
    .training-modules img{
        width: 6rem;
        height: 4rem;
        margin: .5rem;
        padding: 0rem;
    }
    .nar{
        font-size: .75rem;
    }
    .secondpar{
        display: none;
    }
    .price{
        font-size: 1rem;
    }
    .price h5{
        font-size: .75rem;
    }
    .price h6{
        display: none;
    }
    #firstres{
        display: none;
    }
    .sub-heading{
        padding-top: 10rem;
        padding-left: 1rem;
    }
    header div{
        display: flex;
        align-items: center;
        height: 10rem;
    }
    header img{
        height: 10rem;
    }
    
}
@media only screen and (max-width: 480px){
    .dimmer{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }
    th{
        font-size: .7rem;
    }
    .training-modules img{
        width: 3rem;
        height: 2rem;
        margin: .5rem;
        padding: 0rem;
    }
    .selectCourses h3{
        font-size: .75rem;
    }
    .selectCourses p{
        font-size: .7rem;
        color: green;
    }
    .nar{
        padding: .1rem .1rem;
        font-size: .5rem;
        width: 30rem;
        margin-bottom: 1rem;
    }
    .firstpar{
        margin-bottom: 1rem;
    }
    .price{
        font-size: .75rem;
    }
    .price h5{
        font-size: .5rem;
    }
    .sesstime{
        display: none;
    }
    .phone{
        font-size: .75rem;
    }
    footer{
        font-size: .5rem;
    }
    .sub-heading{
        padding-top: 5rem;
    }
    .sub-heading ul{
        font-size: .6rem;
    }
    header div{
        display: flex;
        align-items: center;
        height: 5rem;
    }
    header img{
        height: 5rem;
    }

}

